/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;

}


/* COMMON */

h2{
    font-size: 32px;
    
}

h5{
    font-size: 20px;
}

img{
    width: 100%;
    height: auto;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    
    
}
main{
    margin-top: 100px; 
}

body{
    font-family: Arial, sans-serif;
    color: white;

}

my_wrapper{
    width: 95%;
    margin: auto;
}

.white_out{
    color: black;
}

.white_out h5{
    color: #727272;
}

.titles{
    margin-bottom: 30px;
    font-size: 40px;
}



/* HEADER */





.header-top{
    background-color: black;
    text-transform: uppercase;
    text-align: right;
    line-height: 30px;
    height: 30px;
}

.header-bottom{
    background-color: white;
    height: 70px;
    line-height: 70px;
}

.sony{
    width: 75px;
    display: inline-block;
    
}

.play_logo{
    width: 50px;
    margin-right: 20px;
    
}

.chevron_logo{
    width: 10px;
    margin-left: 10px;
    margin-right: 22px;
}

.chevron_on:hover{
    display: none;
}

.chevron_off{
    display: none;
}
.chevron_off:hover{
    display: block;
}

.lens_logo{
    width: 25px;
    margin-left: 20px;
}

.nav_col_box_left{
    display: flex;
    align-items: center;
    height: 100%;
}

.nav_col_box_right{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.left_right_nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.burger{
    font-size: 25px;
    width: 55px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border: 1px solid grey;
    color: grey;
    border-radius: 5px;
}

/* END HEADER */

/* MAIN */

/* REturnal section */
.jumbotron{
    width: 100%;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
     
}

.returnal-banner{
    width: 58%;
    padding-top:220px;
    padding-bottom: 28px;
}

.jumbo_titles{
    margin-bottom: 30px;
}

.jumbo_button{
    padding-bottom: 50px;
}

.row_wrapper_1{
    margin-top: 30px;
}

.jumbo_img_box {
    padding: 3px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}

.rounded_img{
    border: 2px solid blue;
}

.jumbo_img_box img{
    border-radius: 18px;
}


/* end returnal section */

/* Playstation 5 section */



.play5_titles{
    width: 100%;
    text-align: center;
    margin-top:60px;
    margin-bottom: 60px;

}

.text_box a{
    margin: 20px 0;
}

.accessories_img_box{
    width: 100%;
    text-align: center;
    filter: opacity(0.6); 
    
}


.accessories_img_box i{
    font-size: 10px;
    
}

.selected_img{
   
    text-align: center;
    width: 100%;
    font-size: 15px;
    border-bottom: 2px solid blue;
}

.selected_img img{
    
}


.img_description{
    padding-top: 10px;
    font-size: 15px;
}







/* end Playstation 5 section */


/* END MAIN */

/* FOOTER */
/* END FOOTER */


/* QUERIES */



@media screen and (min-width:768px) {

    .returnal-banner{
        width: 55%;
        max-width: 390px;
    }

    .text_box{
        position: relative;
        top: 100px;
    }

    .selected_img{
        width: 80%;
        margin: auto;
    }

    .img_description_selected{
        padding-top: 0;
        padding-bottom: 62px;
    }

    .img_description{
        padding-top: 0;
        font-size: 15px;
    }

    .selected_img img{
        padding: 15px;
    }

    .accessories_img_box{
        width: 80%;
        margin: auto;
    }

    .accessories_img_box img{
        padding: 20px;
    }
    

}

@media screen and (min-width:1200px) {

    .returnal-banner{
        width: 21%;
    }

    .jumbo_titles{
        width: 30%;
    }


    .text_box{
        position: relative;
        top: 205px;
    }

    .selected_img{
        width: 80%;
        margin: auto;
    }

    .accessories_img_box{
        width: 80%;
        margin: auto;
    }

    .img_description_selected{
        padding-top: 0;
        padding-bottom: 26px;
    }
    
}