/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;

}

a{
    text-decoration: none;
    color: inherit;
}


/* COMMON */

h2{
    font-size: 33px;
    
}

h3{
    font-size: 32px;
}

h5{
    font-size: 20px;
}

img{
    width: 100%;
    height: auto;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 5;
    
    
}
main{
    margin-top: 100px; 
}

body{
    font-family: Arial, sans-serif;
    color: white;

}

footer{
    background-color: #00439c;
    padding: 80px 0;
}

my_wrapper{
    width: 95%;
    margin: auto;
}

.white_out{
    color: black;
}

.white_out h5,
p{
    color: #727272;
}

.titles{
    margin-bottom: 30px;
    font-size: 38px;
}

.jumbotron{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;   
}

.generic-banner{
    width: 58%;
    padding-top:220px;
    padding-bottom: 28px;
}

.my_m_p_wrapper{
    margin-top: 70px;
    margin-bottom: 40px;
}

.my_m_p_col{
    margin-bottom: 40px;
}


/* END COMMON */



/* HEADER */





.header-top{
    background-color: black;
    text-transform: uppercase;
    text-align: right;
    line-height: 30px;
    height: 30px;
}

.header-bottom{
    background-color: white;
    height: 70px;
    line-height: 70px;
}

.sony{
    width: 75px;
    display: inline-block;
    
}

.play_logo{
    width: 50px;
    margin-right: 20px;
    
}

.chevron_logo{
    width: 10px;
    margin-left: 10px;
    margin-right: 22px;
}



.chevron_off{
    display: none;
}

.chevron_logo:hover{
    transform: scale(1.4);
}

.chevron_logo:hover .chevron_on{
    display: none;
}

.chevron_logo:hover .chevron_off{
    display: block;
}




.lens_logo{
    width: 25px;
    margin-left: 20px;
}

.nav_col_box_left{
    display: flex;
    align-items: center;
    height: 100%;
}

.nav_col_box_right{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.left_right_nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.burger{
    font-size: 25px;
    width: 55px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border: 1px solid lightgrey;
    color: grey;
    border-radius: 5px;
}

.burger:hover{
    transform: scale(1.2);
}

/* END HEADER */

/* MAIN */

/* REturnal section */


.first_jumbo{
    background-image: url(../img/jumbo-bg.png);

}



.jumbo_titles{
    margin-bottom: 30px;
}

.jumbo_button{
    padding-bottom: 50px;
}

.row_wrapper_1{
    margin-top: 30px;
}

.jumbo_img_box {
    padding: 3px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}

.rounded_img{
    border: 2px solid blue;
}

.jumbo_img_box img{
    border-radius: 18px;
}


/* end returnal section */

/* Playstation 5 section */



.play5_titles{
    width: 100%;
    text-align: center;
    margin-top:60px;
    margin-bottom: 60px;

}

.ps5_text_box a{
    margin: 20px 0;
}

.accessories_img_box{
    width: 100%;
    text-align: center;
    filter: opacity(0.6); 
    height: 100%;
    
}


.accessories_img_box i{
    font-size: 9px;
    vertical-align: text-top;
    
    
}

.selected_img{
   
    text-align: center;
    width: 100%;
    height: 100%;
}

.selected_img::after{
    display: block;
    content: "";
    width: 100%;
    height: 2px ;
    background-color: #0072ce;
}




.img_description{
    padding-top: 10px;
    font-size: 15px;
}




/* end Playstation 5 section */

/* It takes 2 section */
.second_jumbo{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);

}

/* end it takes 2 */

/* Playstation 4 */

.black_out{
    background-color: #1f1f1f;
    padding: 20px 0;
}

.play4_col_box{
    margin-bottom: 40px;
}

.play4_titles{
    padding: 20px 0;
}

.play4_img_box{
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 13px;
}

.ps4_text_box i{
    font-size: 9px;
    vertical-align: text-top;
}


/* end Playstation 4 */

/* explore PS4 */

.explore_text_box{
    text-align: center;
    padding: 45px 0;
}

.explore_text_box i{
    font-size: 15px;
    vertical-align: text-top
}


.my_card{
    border: none;
    width: 100%;
}

.card-text{
    font-size: 20px;
    line-height: 30px;
}


/* end explore PS4 */

/* Playstation plus + Playstation now*/
.grey_out{
    background-color: #bebcbb;
}

.blu_out{
    background-color: #161c3b;
}


.plus_img_box,
.now_img_box{
    width: 65%;
    
}

.plus_text_box,
.now_text_box{
    padding: 20px 0;
}

.plus_text_box p{
    color: black;
}

.now_text_box p{
    color: white;
}

.plus_btn{
    color: #2d64e6;
    background-color: lightgray;
    padding: 8px 15px;
}



.now_btn{
    color: black;
    background-color: white;
    padding: 8px 15px;
}

.plus_btn:hover,
.now_btn:hover{
    color:blue;
    transform: scale(1.1);
}


/* end Playstation Plus+Playstation now */

/* PS store  */

.ps_store_text_box{
    text-align: center;
    padding-top: 45px;
}

.ps_store_col_box.my_m_p_col img:hover{

    filter: opacity(0.8);

}



/* end ps store */

/* social media */

.media_title{
    text-align: center;
    margin: 60px 0;
}

.media_row_wrapper{
    width: 100%;
    margin: auto;
}


.media_col_box.my_m_p_col img:hover{

    transform: scale(1.1);

}

/* end social media */


/* END MAIN */



/* FOOTER */

.footer_left_col_wrapper{
    margin-bottom: 45px;
}

.footer_logo{
    width: 100px;
    margin-bottom: 45px;
}

.globe-logo{
    width: 20px;
}

.country-region{
    width: 100%;
   
}

.globe-logo,
.region-description{
    display: inline-block;
    margin-right: 10px;
}

.nested_col_wrapper{
    margin-bottom: 15px;
}

.nested_col_wrapper ul li{
    padding-left: 36px;
    padding-bottom: 5px;
}

/* footer bottom */

.sony-logo{
    width: 130px;
    margin-bottom: 15px;
}

.footer-info{
    width:100%
}

.footer-info p{
    color: white;
}

.footer-info a{
    text-decoration: underline;
}

.footer-info a:hover{
    color: mediumpurple;
}

/* end footer bottom */




/* END FOOTER */


/* QUERIES */

@media screen and (min-width:350px) {

    .plus_col_box,
    .now_col_box{
        padding: 45px 0;
    }

    .plus_img_box,
    .now_img_box{
        padding-top: 0;
    }
    
}



@media screen and (min-width:768px) {

    .generic-banner{
        width: 55%;
        max-width: 390px;
    }

    .ps5_text_box{
        position: relative;
        top: 100px;
    }

    .selected_img{
        width: 80%;
        margin: auto;
    }

    .img_description_selected{
        padding-top: 0;
         padding-bottom: 62px; 
    }

    .img_description{
        padding-top: 0;
        font-size: 15px;
    }

    .selected_img img{
        padding: 15px;
    }

    .accessories_img_box{
        width: 80%;
        margin: auto;
    }

    .accessories_img_box img{
        padding: 20px;
    }

    .plus_img_box,
    .now_img_box{
        width: 65%;
        padding-top:10px;
    }

    .plus_col_box,
    .now_col_box{
        padding:0;
    }

    .media_row_wrapper{
        width: 80%;
        margin: auto;
    }
    

}

@media screen and (min-width:1200px) {

    .generic-banner{
        width: 21%;
    }

    .jumbo_titles{
        width: 30%;
    }


    .ps5_text_box{
        position: relative;
        top: 225px;
    }

    .selected_img{
        width: 80%;
        margin: auto;
    }

    .accessories_img_box{
        width: 80%;
        margin: auto;
    }

    .img_description_selected{
        padding-top: 0;
         padding-bottom: 26px; 
    }

    .plus_img_box,
    .now_img_box{
        padding-top:90px;
    }

    .media_row_wrapper{
        width: 50%;
        margin: auto;
    }

    .footer-info{
        width: 50%;
    }
    
}