/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;

}


/* COMMON */

h2{
    font-size: 32px;
    
}

img{
    width: 100%;
    height: auto;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    
}
main{
    margin-top: 100px;
}

body{
    font-family: Arial, sans-serif;
    color: white;

}

my_wrapper{
    width: 95%;
    margin: auto;
}

.white_out{
    color: black;
}

.titles{
    margin-bottom: 20px;
}



/* HEADER */

header ul li{
    display: inline-block;
}



.header-top{
    background-color: black;
    text-transform: uppercase;
    text-align: right;
}

.play_logo{
    width: 50px;
    
}

.chevron_logo{
    width: 10px;
}

.chevron_on:hover{
    display: none;
}

.chevron_off{
    display: none;
}
.chevron_off:hover{
    display: block;
}





.header-bottom{
    background-color: #ffffff;
}
/* END HEADER */

/* MAIN */

/* REturnal section */
.jumbotron{
    width: 100%;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    
    
}

.returnal-banner{
    width: 50%;
    padding-top:80px;
}



/* end returnal section */

/* Playstation 5 section */
.play5_titles{
    width: 100%;
    text-align: center;

    /* test */
    background-color: burlywood;
}






/* end Playstation 5 section */


/* END MAIN */

/* FOOTER */
/* END FOOTER */


/* QUERIES */

@media screen and (min-width:768px) {

    .returnal-banner{
        width: 55%;
        max-width: 390px;
    }

    .text_box{
        position: relative;
        top: 100px;
    }
    

}

@media screen and (min-width:1200px) {

    .returnal-banner{
        width: 17%;
    }


    .text_box{
        position: relative;
        top: 205px;
    }
    
}